# Ignore all files and directories starting with . or ~ or ._ or ending with ~
.*
~*
*~
._*
# but track
!.distignore
!.editorconfig
!.gitattributes
!.github
!.gitignore
!.wordpress-org
!.wordpress-org/.gitkeep

# Controller scratch workspace
.superpowers/

# Dependencies
node_modules
/vendor/
